.square {

    line-height: 34px;
    height: 34px;
    width: 34px;
}

.wall {
    background: black;
}

.empty {
    background: white;
}

.flex-container {
    display: flex;
}

.game-maze {
    clear: left;
}

.row {
    display: flex;
    flex-direction: row;
}